*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  
    
}

:root{

    --ff-heading:'Staatliches', cursive;
    --ff-texting:'Palanquin', sans-serif;

    --bg-header-primary:#8E9AAF;
    --bg-header-secondary:#CBC0D3;

    --bg-primary:#EFF1FF;
    --fs-heading:4rem;
    font-size:62.5%;

    --fc-white:white;
    --fc-violet-900:#4A4E69;
    --fc-violet-200:#23053A;

    
}

body{
    background:var(--bg-primary);
    font-size:1.6rem;
    font-family:var(--ff-texting);
    
}

body p{
    color:var(--fc-violet-200);
    font-family:var( --ff-texting);
    font-weight:400;
    font-size:1.5rem;
    text-align:center;
    line-height: 1.5rem;
}
header{
    padding-top:32px;
    display:flex;
    position:relative;
    flex-direction:column;
    align-items:center;
    gap:3.3rem;
    
}
header p{
   
    padding: 4.8rem;
    padding-bottom:0;
    max-width: 38.4rem;
}

header::before{
content:'';
position:absolute;
background:var( --bg-header-primary);
left:0;
top:0;
width:100%;
height:27.9rem;
z-index:-1;
}

header img{
    width:13.7rem;
    
}
header h1{
    background:var(--bg-header-secondary);
    font-size:var(--fs-heading);
    font-family:var(--ff-heading);
    font-weight:400;
    color:var(--fc-white);
    letter-spacing: 0.5rem;
    padding:0.7rem 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width:100%;

    text-align:center;
    text-transform:uppercase;
}

.page{
    display:grid;
    height: 100vh;
}
main{
    padding:3.2rem;
    max-width: 38.4rem;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
}
.cards{
    margin-top:4rem;
    display:grid;
    gap:3.2rem;
}
.card{
    animation:up 1s ease-in-out;
    position:relative;
    transition:400ms all;
    overflow:hidden;
    border-radius:2rem;
    box-shadow: 0 0 17px -3px hsl(0deg 0% 0% / 00%);
}
.card:hover{
    transform:scale(1.01);
    box-shadow: 0 0 17px -3px hsl(0deg 0% 0% / 14%);

}
.card img{    
width:100%;
height: 100%;
transition:.5s;
object-fit:cover;
}

.card:hover img{
transform:scale(1.1) translatex(-10px);
}

.card .areaText{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  
}
.card h2{
    animation:showup 800ms ease-in-out;
    animation-delay:400ms;
    animation-fill-mode: backwards;
    color:var(--fc-violet-900);
    font-family:var(--ff-heading);
    background:var(--bg-primary);
    padding:1rem 2.4rem;
    border-radius:2rem;
    position:absolute;
    z-index: 1;
    margin:1rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 34px;
    transition:400ms;
    letter-spacing: 0.05em;
    display: inline;
}


footer{
    margin-top:5rem;
   width: 100%;
}

footer p{
    color:var(--fc-violet-900);
    
}
footer a{
    text-decoration:none;
    font-weight:700;
    color:var(--fc-violet-900);
}

@media (min-width:600px){

        header p{
            max-width: 38.4rem;
        }
    main{
        max-width: 70rem;
    }

    .card img{
        height:100%;
        
    }

    .cards{
        grid-template-areas:"A B" "C C" "D E" "F F";
    }

    .cards div:nth-child(1){
        grid-area:A;
    
    }
    .cards div:nth-child(2){
        grid-area:B;
    
    }
    .cards div:nth-child(3){
        grid-area:C;
    
    }
    .cards div:nth-child(4){
        grid-area:D;
    
    }
    .cards div:nth-child(5){
        grid-area:E;
    
    }
    .cards div:nth-child(6){
        grid-area:F;
    
    }
    footer {
        display:inicial;
    }
}

@media (min-width:1344px){

    header::before{
        height:100%;
        
    }
    header p{
        padding:2rem 4.8rem;
        color:white;
        font-size:1.4rem;
        line-height: 2.0rem;
    }
    header img{
        width:21.4rem;
    }
    main{
        max-width: 98rem;
        padding:5rem 9.8rem;
    }
    .page{
        grid-template-columns: 25% 75%;
    }
    
    .card img{
        height:100%;
        
    }

    .cards{
        grid-template-areas:"A B C " "E B G " "E F G";
    }

    .cards div:nth-child(1){
        grid-area:A;
    
    }
    .cards div:nth-child(2){
        grid-area:B;
    
    }
    .cards div:nth-child(3){
        grid-area:C;
    
    }
    .cards div:nth-child(4){
        grid-area:E;
    
    }

    .cards div:nth-child(5){
        grid-area:F;
    
    }
    .cards div:nth-child(6){
        grid-area:G;
    
    }

    
}


@keyframes up{

    0%{
        opacity:0;
        transform:translatey(40px);

    }
    100%{
        opacity:1;
        transform:translatey(0);
    }
}

@keyframes showup{
0%{
    opacity:0;
    transform:scale(0) translatey(-80px);
}
60%{
    transform:scale(1.2);
}
80%{
    transform:scale(0.8);
}
100%{
    opacity:1;
    transform:scale(1) translatey(0);
}
}